* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


.container {
    margin: 30px auto;
    width: 1200px;
}

.float_left {
    float: left;
}


/* Header */
header {
    margin-bottom: 30px;
}

header ul li{
    list-style-type: none;
    display: inline;
    margin-right: 10px;
}
header ul a{
    text-decoration: none;
    color: gray;
}

#logo {
    height: 70px;
    margin-bottom: 30px;
}



#spotlight {
    height: 500px;

    background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    margin-bottom: 50px;
    border-radius: 10px;
    position: relative;
}


.spotlight_text{
    width: 55%;
    position: absolute;
    left: 50px;
    bottom: 70px;
    color: white;
}



/* Main */
#container_main {
    margin-bottom: 10px;
    padding-bottom: 30px;
}

.mini_header {
    margin-bottom: 30px;
}

.sidebar {
    min-height: 390px;
    width: 25%;
}

.illustration {
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.left_illustration {
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(../img/img-1.jpg);
}

.center_illustration {
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(../img/banner-2.jpg);
}

.right_illustration {
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(../img/img-3.jpg);
}

#container_main h3 {
    margin: 15px 0;
}




.main_content {
    min-height: 390px;
    width: calc(50% - 60px);
    margin-left: 30px;
    margin-right: 30px;
}


footer {
    text-align: center;
    font-weight: bold;
    font-size: 19px;
}

footer span {
    color: red;
}