* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


.container {
    margin: 30px auto;
    width: 70%;
}

.float_left {
    float: left;
}


/* Header */
header {
    margin-bottom: 30px;
}

header ul li{
    list-style-type: none;
    display: inline;
    margin-right: 10px;
}
header ul a{
    text-decoration: none;
    color: gray;
}

#logo {
    height: 70px;
    margin-bottom: 30px;
}



#spotlight {
    height: 500px;

    background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    margin-bottom: 30px;
    border-radius: 10px;
    position: relative;
}


.spotlight_text{
    width: 55%;
    position: absolute;
    left: 50px;
    bottom: 70px;
    color: white;
}



/* Main */
#container_main {
    background-color: #0186ff;
    margin-bottom: 10px;
    padding-bottom: 30px;
}

.mini_header {
    height: 100px;
    background-color: #abcfe7;
    margin-bottom: 30px;
}

.sidebar {
    height: 390px;
    width: 25%;
    background-color: #abcfe7;
}

.main_content {
    height: 390px;
    width: calc(50% - 60px);
    background-color: #abcfe7;
    margin-left: 30px;
    margin-right: 30px;
}


footer {
    height: 50px;
    background-color: #8701ff;
}